
.login-container {
  display: flex;
  flex-direction: column;
  gap: 14px;


  h1 {
    font-size: 72px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
  }
}


.log-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background: #333333;


}


.btn-row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

