.terms-container {
    background-color: var(--question-card-bg);
    min-height: 550px;
    width: 1200px;
    border-radius: 20px;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.terms-container h3 {
    text-align: left;
    font-size: 2rem;
    color: var(--text-primary);
}

/* Make the terms box scrollable */
.terms {
    max-height: 500px;           
    overflow-y: auto;
    padding: 1rem;
}
