.title-container {
    text-align: left;
    display:flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 4rem 0 ;
    h1 {
        font-size: 4rem;
        color: var(--title-color);
        text-align: left;
    }

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: 3rem;        
  position: relative;     
  animation: slideInUp 0.6s ease forwards;
  
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    text-align: left;
    font-size: 28px;
}


body {
  background-image: url("/questions-bg.png") !important;
  background-size: cover;

}
