
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  background-image: url("/questions-bg.png") !important;
  background-size: cover;
}

main h1 {
  font-size: clamp(2rem, 3vw + 2rem, 4.5rem);
  font-weight: 700;
  text-align: left;
  margin-bottom: clamp(1.5rem, 2vw + 1rem, 4rem);
  color: var(--title-color);
  align-self: start;
}


.review-container {
  background-color: var(--question-card-bg);
  width: 100%;
  border-radius: 20px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
  box-sizing: border-box;
}

.review-container h3 {
  font-size: clamp(1.1rem, 1.2vw + 1rem, 1.5rem);
  color: var(--title-color);
  margin-bottom: 0.25rem;
}

.review-container p,
.review-container a {
  font-size: clamp(1rem, 1vw + 0.8rem, 1.25rem);
  color: var(--text-primary);
  margin: 0;
  line-height: 1.4;
}


.review-container-row {
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 100%;
}

.review-item-sm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 32%;
}

.review-item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
    align-items: start;

  flex: 1;
}

.full-width {
  width: 100%;
}

@media (max-width: 768px) {
  .review-container-row {
    flex-direction: column;
    gap: 1.25rem;
  }

  .review-item-sm,
  .review-item {
    width: 100%;
    justify-content: start;
    align-items: start;
  }
}

.divider {
  border-bottom: 1px solid var(--title-color);
  width: 75%;
  opacity: 0.4;
  margin: 1.5rem auto;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .btn-container {
    justify-content: center;
  }
}

.submit-button {
  width: 250px;
  padding: 20px 24px;
  background-color: rgb(255, 222, 177);
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.submit-button:hover {
  background-color: rgb(255, 211, 149);
  transform: translateY(-2px);
}

.submit-button:active {
  transform: translateY(0);
}

.submit-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}