.email-password-container{
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin-bottom: 32px;
}

.input-field {
    border-color: rgba(255, 255, 255, 50%);
    transition: border-color 0.3s ease;

}

.input-field:focus {
    border-color: #FFFFFF;
}

.input-field::placeholder {
    color: #777777;
}

select.input-field {
    cursor: pointer;
} 